.card{
    border: 5px solid black;
    border-radius: 25px;
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 96vw;
    text-align: center;
    background-color: cornsilk;
}

.header{

    font-size: 5vw;
}

.num{
    font-size: 12vw;


}

body{
    background-color: cadetblue;
}