<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Bse dashboard</title>


  <link rel="stylesheet" href={{ url_for('static', filename='css/a.css') }}>

</head>

<body>

{% for company in data %}
<div class = "card">
    <div class = "header" >

<h3>{{company.Name}}</h3>      

    </div>
    <div class="num">
      {{company.Value}}<span style=" font-size: 50%; margin-left: 1vw; color: {% if company.Change_type == '+' %} {{ 'green' }} {%  else %} {{ 'red' }} {% endif %};">{{company.Change}}</span>

        
    </div>

  </div>

{% endfor %}